{% extends "main.html" %}

{% block maincontent %}

<h1>Login</h1>

{% if failed %}

    <strong>Login failed!</strong> Check your credentials and try again.

{% endif %}

<a href='https://www.facebook.com/dialog/oauth?client_id=288727298296356&redirect_uri=http://hello12345.test.com:8080/fbsignin&scope=email'>facebook</a>
<a href='/_ah/login?continue=http%3A//hello12345.test.com%3A8080/gglsignin'>Google</a>

<form class="form" action= "/login" method="POST">
	<label for="username">Username</label>
	<input type="text" value="{{ username }}" name="username"/>
	<label for="password">Password</label>
	<input type="password" name="password"/>
	<button type="submit" class="btn">Login</button>
</form>

<a href="/forgot">Forgot password</a>


{% endblock %}